body {
			padding-top: 50px;
			background-color: lightgray;
		}

		.starter-template {
			padding: 40px 15px;
			background-color: white;
		}
.big-bg{
  background-size: cover;
  background-position: center top;
  background-repeat:  no-repeat;
}
html{ 
  font-size:40px;
  opacity:0;
  animation-name: kuma; 
  animation-duration: 5s; 
  animation-iteration-count:2;
  animation-fill-mode: forwards; 
}
@keyframes kuma {
0% {
  opacity: 0;
  color:#000;
}
90% {
 opacity: 1;
 color:#000;
}
 100% {
  opacity: 1;
  color:#000;
} 

}

