/*スプリットレイアウト始まり*/
html,body{
	height:100%;
	margin:0;
	padding:0;
}
 
* {
	box-sizing:border-box;
}
 
.split-box{
	position:absolute;
	width:50%;
	height:100%;
	padding:1em;
}
 
.left-box {
	left:0;
	background-image:url(https://www.pakutaso.com/shared/img/thumb/PAK66_tokainobiru20130525_TP_V.jpg);
	color:#ffffff;
}
 
.right-box {
    right:0;
    background-image: url(https://www.beiz.jp/images_M/sea-ocean/sea-ocean_00158.jpg);
	overflow-y:scroll;
	
}
 
.left-box a{
	color:#ffffff;
	display:block;
}
 
@media screen and (max-width:600px) { 
	.split-box {
		position:relative;
		width:100%;
		height:auto;
 
    }
/*スプリットレイアウトおわり*/
}
.font{
    font-size: 70px;
    padding-left: 200px;
    padding-top: 100px;
}
ul{
    font-size: 40px;
}

h1{

    font-size: 70px;
    padding-left: 210px;
}

h2{
    font-size: 60px;
}
strong{
    font-size: 40px;
}
h3{
    font-size: 60px;
}
@keyframes RightToLeft {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*スライドイン*/
strong,p,ul,h1,h2,h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  animation-duration: 3s;/* アニメーション時間 */
  animation-name: RightToLeft;/* アニメーション名 */
  animation-iteration-count: inherit/* アニメーションの繰り返し（無限）*/
}
